.menu {
        display: inline-block;
}
body {
    margin: 0;
}

.header {
        background: #0063A6;
        width: 100%;
        height: 200px;
}



.horizontal {
    margin: 0;
    padding: 4px;
}
.horizontal li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    float: right;
    color: white;
    border-right: 1px solid #ffffff;
}

.maincolumn{
    width: 80%;
    padding-left: 10%;
}