div {
    width: 102%;
    height: 200px;
    display: inline-block;
    margin-top: -8px;
    margin-left: -8px;


}

div:hover.b { background: blue; }
div:hover.r { background: yellow; }
.header { background: #0063A6; }
.r { background: #ff0000; }

